/*Add the styles for the footer section here. Remember to add 'footer' in front of every class you add so that we don't override each other's code :)*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

.footer-container{
    /*padding-top: 50px;*/
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    border-top: solid 0.2px
    border-color: #ea5777;;
}

  #sacha1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4vh;
  }

  #sacha2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4vh;
  }

 i{
    width: 30px;
    height: 30px;
  }

  a{
      text-decoration: none;
      color: #ea5777;
      letter-spacing: 3px;
  }

  a:hover {
    color: #62E4DA;
  }

  .footer-container h5 {
    font-family: 'Comfortaa';
    letter-spacing: 3px;
    color: #ea5777;
    text-transform: none;
    font-size: 16px;
    font-weight: '300';
  }

  .footer-container > p > a{
      color: #ea5777;
      font-size: var(--font-size-s);
      font-family: 'Comfortaa';
      letter-spacing: 3px;
  }

  .footer-container > a{
   color: #ea5777;
  }

  .footer-container > a:hover{
    color: #62E4DA;
   }

   .footer-container > a:active{
    color: #62E4DA;
   }

   .fa, .fas{
       font-size: 30px;
       margin: var(--single-space);
   }

   .fab, .fa-instagram{
    font-size: 30px;
    margin: var(--single-space);
   }


