* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.showroom {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  padding-top: 12vh;
}

.carousel-container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  position: relative;
  background-color: #9c11a81f;
  border-radius: 1.5rem;
  justify-content: center;
}

.carousel-Img {
  margin: 0 auto;
  display: flex;
  height: 90%;
  width: 90%;
  animation: fade 1.5s;
  padding: 1px;
  justify-items: center;
  justify-content: center;
}

.carousel-Img > img {
  width: inherit;
  object-fit: contain;
  justify-content: center;
}

.numbertext {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--font-size-s);
  color: var(--color-light-green);
  position: absolute;
  top: 0;
  left: 10px;
}
.text {
  color: #1b10b4ce;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

.prev,
.next {
  color: #1b10b4ce;
  font-size: 22px;
  position: absolute;
  top: 49%;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background-color: #f35373;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
