 .side-nav {
    /*display: flex;*/
    /*flex-direction: row;*/
    padding-top: 180px;
    background-color: inherit;
    position: fixed;
    z-index: 999;
 }

.side-nav-links a {
  color: white;
  border: solid 4px;
}

.side-nav-links li {
  /*padding between buttons*/
  padding: 12px;
  /*space between beginning of page and button*/
  margin-left: 20px;
}

.nav-button {
  background-color: #62E4DA;
  /*size of button*/
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  border-radius: 34px;
}


.nav-button:hover {
  color: black;
  background-color: #62E4DA;
}



