 .side-nav {
    /*display: flex;*/
    /*flex-direction: row;*/
    padding-top: 180px;
    background-color: inherit;
    position: fixed;
    z-index: 20;
 }

.sec {
    display: none;
    position: absolute;
    left: 5rem;
    /*background-color: white;*/
    opacity: .8;
    color: #9c11a81f;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Chakra Petch';
    font-weight: 400;
    font-size: var(--font-size-l);
    /*color: var(--color-light-green);*/
    text-shadow: 2px 2px 2px var(--color-light-green);


}

.side-nav a:hover + .sec {
    display: block;
    /*postition: relative;*/
    margin-left: -20px;
    margin-top: -45px;
    color: #1b10b4ce;
}

.span {
  display: flex;
}

.side-nav a {
  width: 15rem;
}

.side-nav i {
  color:#1b10b4ce;
}

@media screen and (max-width: 1024px) {
  .sec {
    display: none;
    position: absolute;
    left: 5rem;
    /*background-color: white;*/
    opacity: .8;
    color: #9c11a81f;

    font-weight: bold;
    font-family: 'Chakra Petch';
    font-weight: 400;
    font-size: 20px;
    /*color: var(--color-light-green);*/
    text-shadow: 2px 2px 2px var(--color-light-green);
  }

  .side-nav a {
    width: 4rem;
  }

  .side-nav i {
    color:#1b10b4ce;
    font-size: 22px;
    margin-top: -4px;
  }

  .side-nav a:hover + .sec {
    display: block;
    /*postition: relative;*/
    margin-left: -20px;
    margin-top: -45px;
    color: #1b10b4ce;
  }
}


