/*Main file for fonts and colors, add the imports on top of the file*/

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Chakra+Petch:wght@600&display=swap");

:root {
  --color-light-green: #62e4da;
  --font-size-xs: 12px; /* Tertiary/caption/label/wildcard font size and when we use uppercase for labels or buttons*/
  --font-size-s: 14px; /* For secondary text–less important details of the site. Supporting information and stats, sometimes captions, etc.*/
  --font-size-m: 16px; /* Default font size – for all body text – as well as most controls, like text boxes, dropdowns, buttons, and menus */
  --font-size-l: 24px; /* For section titles */
  --font-size-xl: 32px; /* For Headline */

  /* Let's name it our basic unit to define space, we can multiply it or divide it */
  --single-space: 12px;

  --shadow: 4px 4px 5px grey;

  --border-radius: 4px;
}

/*Reseter CSS -  Remove styles defined from the browser by default*/
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  --gradient: linear-gradient(45deg, #fb1f70, #f35373, #9f74e6, #58a5db);
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 15s infinite alternate;
}

h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-xl);
  color: var(--color-light-green);
}

h2 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-l);
  color: var(--color-light-green);
}

h3 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--font-size-s);
  color: var(--color-light-green);
}

p {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-m);
  color: black;
}

html {
  scroll-behavior: smooth;
}
