/*This is the main css file. We link our fonts and imports here (always on the top) and write the media queries here (always on the bottom). I added an example for you here:*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Darker+Grotesque&family=Dosis&family=Raleway&display=swap');

  h1 {
    color: #ACC196;
    font-family: 'Comfortaa';
  }

  a {
  text-decoration: none;
  color: #E2B4BD;
  font-size: 30px;
  }

  a:hover {
  text-decoration: none;
  color: #ACC196;
  }




